<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe4ZdXCsIL2LQyc4fwaNjoZ3aYmGlkbJw</string>
	<key>GCM_SENDER_ID</key>
	<string>690640016533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCorp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecorp-ae0aa</string>
	<key>STORAGE_BUCKET</key>
	<string>ecorp-ae0aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690640016533:ios:966ba48b1c109018e3779c</string>
</dict>
</plist>